---
import { Icon } from "astro-icon/components";
import styles from "./styles/controls.module.css";
---

<button id="filter-btn" class={styles.filterBtn}>
    <Icon name="lucide:list-filter" class={styles.filterIcon} />
    Filtrar
</button>
