---
import ManagementLayout from "../../../layouts/ManagementLayout.astro";
import PageCard from "../../../components/common/PageCard.astro";
import CreateProductView from "../../../components/management/CreateProductView.tsx";
---

<ManagementLayout
    title="Nuevo Producto"
    parentTitle="Gestión de Productos"
    parentUrl="/management/products"
>
    <div style="padding: 2rem 0;">
        <PageCard maxWidth="1000px" variant="dark">
            <CreateProductView client:only="react" />
        </PageCard>
    </div>
</ManagementLayout>

