---
import Layout from "../layouts/Layout.astro";
import styles from "./styles/coming-soon.module.css";
---

<Layout title="MarketFlex | Próximamente" showToaster={false}>
    <div class="hero-center">
        <h1 class={styles.title}>MarketFlex</h1>
        <p class={styles.comingSoon}>Próximamente</p>
    </div>
</Layout>
