---
import "../styles/main.css";
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
import Notifications from "../components/common/Notifications";
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/800.css";
import "sileo/styles.css";

interface Props {
	title: string;
	description?: string;
	showToaster?: boolean;
	simple?: boolean;
}

const {
	title,
	description = "MarketFlex - Your premium marketplace",
	showToaster = true,
	simple = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/logo-marketflex-circle.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		{showToaster && <Notifications client:only="react" />}
		{!simple && <Navbar />}
		<main>
			<slot />
		</main>
		{!simple && <Footer />}
	</body>
</html>
