---
import AdminLayout from "../../layouts/AdminLayout.astro";
import SupportListView from "../../components/admin/SupportListView";
---

<AdminLayout title="Soporte">
    <div style="padding: 2rem;">
        <SupportListView client:only="react" />
    </div>
</AdminLayout>
