---
const siteKey = import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY;
---

<div class="captcha-container">
    <script
        src={`https://www.google.com/recaptcha/api.js?render=${siteKey}`}
        async
        defer></script>
</div>

<style>
    /* Usually good to keep reCAPTCHA badge visible for TOS, but we can move it or style it */
    .captcha-container {
        display: none;
    }
</style>
